.menu{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
}
.menu li{
    margin-right: 15px
}
a{
    text-decoration: none;
}
